* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}

#usernameModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rooms {
    width: 250px;
    background-color: gray;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#roomList {
    flex: 1;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#roomList button {
    flex-shrink: 0;
    text-align: left;
    overflow: hidden;
    text-wrap: nowrap;
    margin: 4px;
}

#content {
    flex: 1;
    background-color: lightgray;
}

.chat {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rooms {
    flex: 1;
    background-color: darkgray;
    overflow-y: auto;
}

.inputBar {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 10px;
    gap: 10px;
}

.messageInput {
    flex: 1;
    padding: 8px;
}

.sendBtn {
    padding: 8px 16px;
}